@import '../../../styles/variables.scss';

.card-box {
  background-color: $blur-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  &:hover{
    background-color: $blur-overlay;
  }
}

.icon {
  font-size: 2rem;
}